:root {
    --color-bg: rgb(255, 255, 255);
    --color-text-main: #000000;
    --color-primary: #faf896;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  
  /* Basic page style resets */
  * {
    box-sizing: border-box;
  }
  [hidden] {
    display: none !important;
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  body {
    font-family: HK Grotesk;
    text-align: center;
    background-color: var(--color-primary);
  }
  
  form {
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 400px;
    margin-left: 400px;
    background-color: var(--color-bg);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  /* Subheading */
  h2 {
    color: #2800FF;
  }

