:root {
    --color-bg: rgb(255, 255, 255);
    --color-text-main: #000000;
    --color-primary: #faf896;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  body {
  margin: 0;
  font-size: 16;
  }

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
   }

.header {
    transform: translate(0, 100px);
    flex-shrink: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form-container {
    position: absolute;
    top: 50%; 
    left: 55%; 
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 50px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
   }

.input-box {
    width: 400px;
    padding: 10px;
    margin: 5px, 0;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
    margin-top: 20px;
}

.UUID-input-box {
    width: 400px;
    padding: 10px;
    margin: 5px, 0;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(84, 68, 92);
}

.checkbox-container {
    display: flex;
    font-size: 9.5px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-decoration: underline;
}

.checkbox {
    margin-right: 5px;
}

.action-button {
    display: flex;
    width: 45%;
    padding: 10px;
    background-color: rgb(230, 0, 184);
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 25%
}

.action-button-small {
    display: flex;
    width: 130px;
    padding: 10px;
    background-color: rgb(139, 109, 154);
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 29%
}


