:root {
    --color-bg: rgb(255, 255, 255);
    --color-text-main: #000000;
    --color-primary: #faf896;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
  }
  
  /* Import fonts */
  @font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  
  body {
  margin: 0;
  font-size: 16;
  }

  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('background-image.jpg');
    z-index: -1;
   }

.header {
    transform: translate(0, 40%);
    flex-shrink: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 50px;
}

.form-container {
    position: absolute;
    top: 46%; 
    left: 40%; 
    transform: translate(-55%, -35%);
    background-color: rgba(255, 255, 255, 0);
    padding: 50px;
    border-radius: 10px;
    color: white;
   }

.input-box {
    width: 150%;
    padding: 10px;
    margin: 5px, 0;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.UUID-input-box {
    width: 0;
    padding: 0;
    margin: 0, 0;
    border: 0 solid rgb(235, 210, 210);
    opacity: 0;
}

.checkbox-container {
    display: flex;
    font-size: 9.5px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-decoration: underline;
    width: 150%;
}

.checkbox {
    margin-right: 5px;
    transform: scale(120%);
}

.action-button {
    display: inline;
    width: 100%;
    padding: 10px;
    background-color: rgb(230, 0, 184);
    color: white;
    font-size: 14px;
    margin-top: 5%;
    margin-left: 32%;
    border-radius: 5px;
}

.action-button-small {
    display: flex;
    width: 73%;
    padding: 10px;
    background-color: rgb(223, 78, 194);
    color: white;
    border: none;
    font-size: 14px;
    margin-top: 10%;
    margin-left: 39%;
    border-radius: 5px;
}

.header-confirm {
    transform: translate(0, 120%);
    flex-shrink: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 50px;
    background-color: rgba(230, 0, 184, 0.381);
}